body {
  font-family: Arial, sans-serif;
  background-color: #282828;
  line-height: 1.5;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  height: 100%;
  max-height: 100%;

  display: block;
  margin: 0 auto;
}

.bayan-content {
  font-size: 1.75rem;
  cursor: pointer;
  display: block;
}

.bayan-item {
  margin-top: -1rem;
}

.bayan-text {
  background-color: #888;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 1.5rem;
}

.bayan-title {
  font-size: 1.8rem;
  margin-bottom: 0.25rem;
  margin-right: 2rem;
  color: #fff;
  position: relative;
  transition: all .2s ease-out;
}

.bayan {
  max-width: 65rem;
  margin: 2rem auto;
  padding: 0 1rem;
  cursor: pointer;
}

.bayan-input {
  appearance: none;
}

.bayan-square {
  opacity: 0;
  min-height: 0.75em;
  min-width: 0.75em;
  background-color: #fff;
  transition: transform .2s ease-out, opacity .1s ease-out;
}

.bayan:hover .bayan-square {
  opacity: 1;
}

.bayan:hover .bbayan-text {
  background-color: #F07427;
}

.bayan-img {
  height: 0;
  max-height: 50rem;
  transition: all .2s ease-out;
  background-color: #fff;
  padding: 0;
  overflow: hidden;
}

.bayan-input:checked~.bayan-content .bayan-img {
  height: 30rem;
  padding: 1rem 0;
}

.bayan-input:checked~.bayan-content .bayan-text {
  margin: 0;
  background-color: #F07427;
}

.bayan-content:hover .bayan-text {
  margin: 0;
  background-color: #F07427;
}

.bayan-content:active .bayan-text {
  background-color: #888;
}

.bayan-input:checked~.bayan-content .bayan-square {
  transform: rotate(45deg);
}

.bayan-content:hover .bayan-img {
  height: 30rem;
  padding: 1rem 0;
}

.bayan-content:hover .bayan-square {
  transform: rotate(45deg);
}

@media screen and (max-width: 1080px) {
  .bayan-title {
    font-size: 1.5rem;
  }

  .bayan-input:checked~.bayan-content .bayan-img {
    height: 20rem;
  }


  .bayan-content:hover .bayan-img {
    height: 20rem;
  }

  .bayan-square {
    min-height: 0.6em;
    min-width: 0.6em;
  }

}

@media screen and (max-width: 480px) {
  .bayan-title {
    font-size: 1rem;
  }

  .bayan-input:checked~.bayan-content .bayan-img {
    height: 15rem;
  }


  .bayan-content:hover .bayan-img {
    height: 15rem;
  }

  .bayan-square {
    min-height: 0.5em;
    min-width: 0.5em;
  }

  .bayan {
    margin: 1rem auto;
    padding: 0 0.5rem;
  }

  .bayan-text {
    padding: 0.5rem 0.7rem;
  }
}