body {
  font-family: Arial, sans-serif;
  background-color: #282828;
  line-height: 1.5;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  height: 100%;
  max-height: 100%;

  display: block;
  margin: 0 auto;
}

.bayan-content {
  cursor: pointer;
  display: block;
}

.bayan-title {
  font-size: 28px;
  margin-bottom: 5px;
  padding: 15px 10px;
  color: #fff;
  background-color: #F07427;
  position: relative;
}

.bayan {
  max-width: 1000px;
  margin: 25px auto;
  padding: 0 15px;
}

.bayan-input {
  appearance: none;
  position: absolute;
}

.bayan-square {
  opacity: 0;
  position: absolute;
  top: 50%;
  right: 15px;
  height: 15px;
  width: 15px;
  background-color: #fff;
  transform: translateY(-50%);
  transition: transform .2s ease-out, opacity .1s ease-out;
}

.bayan:hover .bayan-square{
  opacity: 1;
}

.bayan-img {
  height: 0;
  max-height: 300px;
  transition: all .2s ease-out;
  background-color: #fff;
  padding: 0;
}

.bayan-input:checked ~ .bayan-content .bayan-img {
  height: 300px;
  padding: 15px 0;
} 

.bayan-input:checked ~ .bayan-title {
  margin: 0;
} 

.bayan-input:checked ~ .bayan-content .bayan-square{
  transform: translateY(-50%) rotate(45deg);
}

.bayan-content:hover .bayan-img {
  height: 300px;
  padding: 15px 0;
} 

.bayan-content:hover .bayan-square{
  transform: translateY(-50%) rotate(45deg);
}




